*{
    margin: auto;  
    text-align: center;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin: 0.1;
}
h1 {
  font-size: 2rem;
  display: none;
}
h2 {
  font-size: 1.5rem;
  padding-left: 20px;
}
h3 {
  font-size: 1.2rem;
  padding-left: 40px;
}
h4 {
  font-size: 1rem;
  font-style: italic;
  padding-left: 60px;   
}

.main-header{
    background-color: palegreen;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_1{
    background-color: rgb(255, 208, 169);
    height: 550px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.block_gal{
    background-color: #ffb3b6;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: 510px;
    width: 1170px;
    padding: 10px; 
   
}
.b1{
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
    
}
.b2{
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.b3{
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.b4{
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.b5{
    background-color: aqua;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.b6{
    background-color: aqua;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.b7{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.b8{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.b9{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.b10{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.b11{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.b12{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.b13{
    background-color: aqua;
    grid-column-start: 3;
    grid-column-end: 5; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
}
.t1{
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
   
}
.t2{
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_2{
    max-width: 1170px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 122, 202);
}
.block_vidg{
    background-color: lightsalmon;
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.block_gal_under{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.under_vidg{
    background-color: #ffb3b6;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: 30px;
    width: 1170px;
    padding: 10px; 
}
.footer{
    color: white;
    background-color: #00b73dda;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

