*{
    margin: 0;  
    text-align: center;
}
.main-header{
    background-color: palegreen;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_1{
    background-color: rgb(255, 208, 169);
    height: 550px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_gal{
    background-color: #ffb3b6;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: 510px;
    width: 1150px;
    padding: 10px; 
}
.b1{
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b2{
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b3{
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b4{
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b5{
    background-color: aqua;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b6{
    background-color: aqua;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b7{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b8{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b9{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b10{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b11{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b12{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b13{
    background-color: aqua;
    grid-column-start: 3;
    grid-column-end: 5; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t1{
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
}
.t2{
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zdvig{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_vidg{
    background-color: lightsalmon;
    width: 1170px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_gal_under{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.under_vidg{
    background-color: #ffb3b6;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: 30px;
    width: 1150px;
    padding: 10px; 
}
.footer{
    color: white;
    background-color: #00b73dda;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

